@page
@model LiveChat.Pages.DeleteRoomModel

@{
    ViewData["Title"] = "DeleteRoom";
}

<h1>Usuwanie pokoju</h1>

<h3>Czy na pewno chcesz usunac pokoj?</h3>
<div>
    <h4>Pokój</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Room.ID" />
        <input type="submit" value="Usun" class="btn btn-danger" /> |
        <a asp-page="./Room" asp-route-id="@Html.Raw(Model.Room.ID)">Powróć do pokoju</a>
    </form>
</div>
