@page
@model LiveChat.Pages.RoomModel
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@section Scripts {
    <script>
        window.roomAuthor = "@Html.Raw(Model.Room.Admin.UserName)";
        window.roomId = "@Html.Raw(Model.Room.ID)";
    </script>
    <script src="~/js/SignalRConn.js"></script>
    <script src="~/js/Room.js"></script>
}

@{
    ViewData["Title"] = "Pokój";
}

<h1>Pokój</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
        <dt class="col-sm-2">
            Administrator
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Admin.Email)
        </dd>
        <dt class="col-sm-2">
            Utworzono
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Created)
        </dd>
        <dt class="col-sm-2">
            Akcje
        </dt>
        <dd class="col-sm-10">
            <a asp-page="./DeleteRoom" asp-route-id="@Html.Raw(Model.Room.ID)" style="color: red;">Usun pokoj</a>
            <a asp-page="./EditRoom" asp-route-id="@Html.Raw(Model.Room.ID)">Edytuj pokoj</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Powróć do listy</a>
</div>
<hr />

@if (SignInManager.IsSignedIn(User))
{
    <form id="messageForm" class="d-flex">
        <input class="col" placeholder="Wpisz wiadomość..." name="message" />
        <input type="hidden" value="@Html.Raw(Model.Room.ID)" name="roomId" id="roomId" />
        <button type="submit" id="sendButton">Wyślij</button>
    </form>
}
else
{
    <p>Zaloguj się by wysyłać wiadomości</p>
}

<ul id="messageList">
    @foreach (var message in Model.Messages)
    {
        <li data-message-id="@Html.Raw(message.ID)">
            <b>@Html.DisplayFor((model) => message.Author.Email): </b>
            @Html.DisplayFor(model => message.Content)
            @if (message.Author.UserName == User.Identity.Name || Model.Room.Admin.UserName == User.Identity.Name)
            {
                <button class="deleteMessageButton" data-message-id="@Html.Raw(message.ID)">X</button>
            }
        </li>
    }
</ul>
